#name {
	color: #6A5ACD	;
	align-content: center;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}

#top {
	font-weight: bold;
	font-size: 20px;
	color: #4169E1;
	text-align: center;


	
}

.game {
		color:	#B0C4DE;
		font-size: 20px;
}